.scroll-content {
  padding: 0
}

.event-list {
  background-color: rgb(36, 36, 36);
  background-image: url('../assets/imgs/party-banner.png');
  background-repeat: no-repeat;
  button {
    margin: 1em 0;
  }
  .home {
    text-align: left;
    background: transparent;
    ion-icon {
      color: white;
      display: inline-block;
    }
    span {
      margin-left: 4px;
      color: white;
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
    }
  }
  h3 {
    position: relative;
    top: 5.5em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    font-size: 2em;
  }
  .events {
    position: relative;
    top: 12em;
    text-align: left;
    .item-md {
      padding-left: 9px;
      margin: 1em 0;
    }
    h2 {
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgb(58, 58, 58);
    }
    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    button {
      color: #00aea3
    }
  }
}
